body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  background-color: #EDEBEB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px; 
  background-color: #EDEBEB;
}

.logo {
  height: 100px;
  width: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

.navbar a {
  font-family: caraque-melted, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 'wdth' 59;
  font-size: 40px;
  color: #B793DB;
  padding: 8px 10px;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar a:hover {
  background-color: transparent;
  color: white;
}

.navbar-second ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

.navbar-second a {
  font-family: caraque-melted, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 'wdth' 59;
  font-size: 20px;
  color: #BDBF00;
  padding: 8px 10px;
  text-decoration: none;
  transition: color 0.2s;
  margin-left: 50px;
}

.navbar-second a:hover {
  background-color: transparent;
  color: white;
}

.hello {
  display: flex;
  flex-direction: row-reverse; 
  align-items: flex-start;
  padding: 70px;
  max-width: 90%;
  width: fit-content;
  margin: 20px 0;
}

.hello-img {
  width: 500px;
  height: auto;
  position: absolute;
  right: 150px;
  top: 100px;
  max-width: 100%;
}

.hello-text {
  left: 40px;
  font-family: prestige-elite-std, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #0A0903;
  width: 600px;
}

h1{
font-family: prestige-elite-std, monospace;
font-weight: 700;
font-style: normal;
flex: 1;
font-size: 30px;
color: #0A0903;
}

h2{
font-family: prestige-elite-std, monospace;
font-weight: 700;
font-style: normal;
flex: 1;
font-size: 60px;
color: #B793DB;
}

h3{
font-family: prestige-elite-std, monospace;
font-weight: 700;
font-style: normal;
flex: 1;
font-size: 20px;
color: #B793DB;
margin-top: 50px;
}

.container {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
padding: 40px 20px;
max-width: 1200px;
margin: auto;
}

.profile-img {
flex: 1;
min-width: 400px;
max-width: 600px;
border-radius: 30px;
overflow: hidden;
margin-right: 40px;
margin-bottom: 40px;
}

.profile-img img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 30px;
border: 1px solid black;
}

.about-text {
flex: 2;
padding: 0 60px;
min-width: 300px;
margin-top: 30px;
margin-bottom: 40px;
}

h4 {
font-family: caraque-melted, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 30px;
color: #BDBF00;
margin-bottom: 10px;
}

p {
font-family: prestige-elite-std, monospace;
font-weight: 700;
font-style: normal;
font-size: 12px;
line-height: 1.6;
margin-bottom: 10px;
}

.contact a {
font-family: prestige-elite-std, monospace;
font-weight: 400;
font-style: normal;
font-size: 18px;
line-height: 1.6;
margin-bottom: 10px;
margin-right: 10px;
text-decoration: none;
color: blue;
font-weight: bold;
}

footer {
position: fixed;
bottom: 10px;
width: 100%; 
font-family: prestige-elite-std, monospace;
font-weight: 400;
font-style: italic;
text-align: center;
padding: 5px;
font-size: 15px;
background-color: transparent;
color: #BDBF00;
}