body {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
min-height: 70vh;
background-color: #FFDBE2;

.site-header {
  padding: 20px;
  position: relative;
}

.logo {
  height: 50px; /* adjust based on your design */
  width: auto;
  display: block;
}

.navbar {
display: flex;
justify-content: space-evenly;
background-color: transparent;
width: 100%;
padding: 70px 0;
}

.navbar a {
font-family: "podium-soft-variable",sans-serif;
font-variation-settings: 'wdth' 59;
font-size: 70px;
color: #963D5A;
text-decoration: none;
padding: 8px 10px;
}

.navbar a:hover {
background-color: transparent;
color: white;
}

.hello {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  max-width: 100%;
  width: fit-content; /* shrink-wraps content */
  margin: 20px 0 20px 0; /* sits on left naturally */
}

.hello-img {
  width: 300px;        /* or any width you prefer */
  height: 300px;
  margin-right: 5px;  /* spacing between image and text */
}

.hello-text {
  flex: 1;
  font-size: 20px;
}

h1{
font-family: "podium-soft-variable",sans-serif;
font-variation-settings: 'wdth' 155;
color: #C64191;
font-size: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-top:200px;
margin-bottom: 2px;
}

h2{
font-family: quicksand, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 45px;
color: #FA7921;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 10px;
margin-bottom: 150px;
}

h3{
font-family: quicksand, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 30px;
color: #FA7921;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
text-align: center;
}

figcaption{
font-family: quicksand, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 15px;
}

.divider {
width: 100%;
height: 100px;
background-color: #D5D887;
margin: 0;
}

h4 {
font-family: quicksand, sans-serif;
font-weight: 700;
font: bold;
font-size: 14px;
margin-top: 0;
}

h5 {
font-family: quicksand, sans-serif;
font-weight: 500;
font: medium;
font-size: 12px;
margin-top: 0;
}

h6 {
font-family: quicksand, sans-serif;
font-weight: 400;
font-size: 12px;
margin-top: 0;
}

ul {
font-family: quicksand, sans-serif;
font-weight: 300;
font-size: 12px;
list-style-type: disc;
padding-left: 20px;
}
        
p {           
font-family: quicksand, sans-serif;
font-weight: 500;
font: medium;
font-size: 20px;
color: black;
margin-left: 50px;
}

footer {
position: fixed;
bottom: 10px;
width: 100%; 
font-family: quicksand, sans-serif;
font-weight: 700;
font-style: normal;
text-align: center;
padding: 5px;
background-color: transparent;
color: #4282AA;
}