body {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
min-height: 40vh;
background-color: #EFC7E5;
}

.navbar {
display: flex;
justify-content: space-evenly;
background-color: transparent;
width: 100%;
padding: 30px 0;
}

.navbar a {
font-family: "podium-soft-variable",sans-serif;
font-variation-settings: 'wdth' 59;
font-size: 100px;
color: #C64191;
text-decoration: none;
padding: 8px 10px;
}

.navbar a:hover {
background-color: transparent;
color: white;
}


h1{
font-family: "podium-soft-variable",sans-serif;
font-variation-settings: 'wdth' 155;
color: #C64191;
font-size: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-top:200px;
margin-bottom: 2px;
}

h2{
font-family: quicksand, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 45px;
color: #FA7921;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 10px;
margin-bottom: 150px;
}


h3{
font-family: quicksand, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 30px;
color: #FA7921;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
text-align: center;
}

figcaption{
font-family: quicksand, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 15px;
}

.divider {
width: 100%;
height: 100px;
background-color: #D5D887;
margin: 0;
}

.content-section {
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
width: 80%;
}

.content-section img {
max-width: 40%;
height: auto;
margin-right: 20px;
padding-top: 50px;
padding-bottom: 50px;
}

.content-section .text-container {
font-family: quicksand, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 30px;
color: #FA7921;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
flex: 1;
margin-left: 100px;
}

.textbox{
background-color: white;
border-radius: 15px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
padding: 20px;
width: 80%;
display: flex;
justify-content: space-between;
}

.textbox.one {
flex: 2;
padding: 20px;
display: block;
text-align: center;
border-radius: 15px;
}

.column {
flex: 1;
padding: 10px;
}

.column:not(:last-child) {
border-right: 2px solid #ddd;
}

h4 {
font-family: quicksand, sans-serif;
font-weight: 700;
font: bold;
font-size: 14px;
margin-top: 0;
}

h5 {
font-family: quicksand, sans-serif;
font-weight: 500;
font: medium;
font-size: 12px;
margin-top: 0;
}

h6 {
font-family: quicksand, sans-serif;
font-weight: 400;
font: regular;
font-size: 12px;
margin-top: 0;
}

ul {
font-family: quicksand, sans-serif;
font-weight: 300;
font: light;
font-size: 12px;
list-style-type: disc;
padding-left: 20px;
}

.container {
display: flex;
width: 90%;
background-color: transparent;
}

.images-column .svg-image {
width: 100%;
height: auto;
border-radius: 10px;
margin-bottom: 10px;
display: flex;
flex-direction: column;
flex:1;
}

.images-column img {
width: 100%;
border-radius: 10px;
margin-bottom: 10px;
}

.gallery {
display: flex;
justify-content: space-around;
align-items: center;
width: 80%;
}
        
.gallery-item {
text-align: center;
}
        
.gallery-item img {
width: 200px;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
        
p {           
font-family: quicksand, sans-serif;
font-weight: 500;
font: medium;
font-size: 12px;
color: black;
margin-left: 50px;
margin-right: 50px;
margin-top: 10px;
justify-content: center;
align-items: center;
text-align: center;
}

iframe{
width: 940px;
height: 600px;
}

footer {
position: fixed;
bottom: 10px;
width: 100%; 
font-family: quicksand, sans-serif;
font-weight: 700;
font-style: normal;
text-align: center;
padding: 5px;
background-color: transparent;
color: #C64191;
}