body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  background-color: #EDEBEB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px; 
  background-color: #EDEBEB;
}

.logo {
  height: 100px;
  width: auto;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 70px;
}

.navbar a {
  font-family: caraque-melted, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 'wdth' 59;
  font-size: 40px;
  color: #B793DB;
  padding: 8px 10px;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar a:hover {
  background-color: transparent;
  color: white;
}

.hello {
  display: flex;
  flex-direction: row-reverse; 
  align-items: flex-start;
  padding: 70px;
  max-width: 90%;
  width: fit-content;
  margin: 20px 0;
}

.hello-img {
  width: 500px;
  height: auto;
  position: absolute;
  right: 150px;
  top: 100px;
  max-width: 100%;
}

.hello-text {
  left: 40px;
  font-family: prestige-elite-std, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #0A0903;
  width: 600px;
}

h1{
font-family: prestige-elite-std, monospace;
font-weight: 700;
font-style: normal;
flex: 1;
font-size: 70px;
color: #B793DB;
}

h2{
font-family: prestige-elite-std, monospace;
font-weight: 700;
font-style: normal;
flex: 1;
font-size: 20px;
color: #B793DB;
margin-top: 50px;
}

h3{
font-family: quicksand, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 30px;
color: #FA7921;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
text-align: center;
}

figcaption{
font-family: quicksand, sans-serif;
font-weight: 700;
font-style: normal;
font-size: 15px;
}

.divider {
width: 100%;
height: 100px;
background-color: #D5D887;
margin: 0;
}

h4 {
font-family: quicksand, sans-serif;
font-weight: 700;
font: bold;
font-size: 14px;
margin-top: 0;
}

h5 {
font-family: quicksand, sans-serif;
font-weight: 500;
font: medium;
font-size: 12px;
margin-top: 0;
}

h6 {
position: fixed;
bottom: 10px;
width: 100%; 
font-family: prestige-elite-std, monospace;
font-weight: 400;
font-style: italic;
font-size: 15px;
padding: 5px;
background-color: transparent;
color: #B793DB;
}

ul {
font-family: quicksand, sans-serif;
font-weight: 300;
font-size: 12px;
list-style-type: disc;
padding-left: 20px;
}

footer {
position: fixed;
bottom: 10px;
width: 100%; 
font-family: prestige-elite-std, monospace;
font-weight: 400;
font-style: italic;
text-align: center;
padding: 5px;
font-size: 15px;
background-color: transparent;
color: #BDBF00;
}